<header>
  <div class="title">
    <h1 *ngIf="data">{{ data.country }}</h1>
    <a routerLink="/">Back</a>
  </div>
  <div id="count">
    <div class="count">
      <h3>Number of entries</h3>
      <p>{{ data?.participations?.length }}</p>
    </div>
    <div class="count">
      <h3>Total number medals</h3>
      <p>{{ totalMedals }}</p>
    </div>
    <div class="count">
      <h3>Total number of athletes</h3>
      <p>{{ totalAthletes }}</p>
    </div>
  </div>
</header>
<div id="charts">
  <ngx-charts-line-chart [yAxis]="xAxis" [xAxis]="yAxis" [results]="dataChart">
  </ngx-charts-line-chart>
</div>
<div><h3 id="date">Dates</h3></div>
