<header>
  <h1>Medals per Country</h1>
  <div id="count">
    <div class="count count1">
      <h3>Number of JOs</h3>
      <p>{{ totalJo }}</p>
    </div>
    <div class="count count2">
      <h3>Number of countries</h3>
      <p *ngIf="olympics">{{ olympics.length }}</p>
    </div>
  </div>
</header>

<div id="charts">
  <ngx-charts-pie-chart
    [results]="dataChart"
    [customColors]="colorScheme"
    [labels]="true"
    (select)="goToDetail($event)"
  >
    <ng-template #tooltipTemplate let-model="model">
      <div>{{ model.name }}</div>
      <div>
        <!--SVG-->
        <app-medals></app-medals>
        <!--SVG-->
        {{ model.value }}
      </div>
    </ng-template>
  </ngx-charts-pie-chart>
</div>
